// COLORS
$color-primary: #282825;
$color-primary-dark: #181813;
$color-black: #000;
$color-black-transparent: rgba(#181813, 0.7);

$color-gradish: #6e6e6e;
$color-gradish-ligth: #c9c9c9;
$color-white: #fff;

$color-secondary: #ffb338;

// FONTS
$font-primary: "Inter", sans-serif;
//Inter 400 500 700
$font-secondary: "Merriweather", serif;
//Merriweather 400 700
